{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "react",
    "prettier",
    "eslint-plugin-import-helpers",
    "import"
  ],
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "prettier"
  ],
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "alias": {
        "map": [
          ["@", "./src"]
        ],
        "extensions": [".ts", ".js", ".jsx", ".json"]
      }
    }
  },
  "rules": {
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "@typescript-eslint/no-empty-interface": 0,
    "import/extensions": "off",
    "import/prefer-default-export": 0,
    "react/jsx-props-no-spreading": 0,
    "react/require-default-props": 0,
    "arrow-body-style": 0,
    "import/no-extraneous-dependencies": ["error", { "devDependencies": ["**/*.stories.tsx", "**/stories/examples/**"] }],
    "react/jsx-filename-extension": [1, { "extensions": [".ts", ".tsx"] }],
    "react/prop-types": 2,
    "import-helpers/order-imports": [
      "warn",
      {
        "newlinesBetween": "always",
        "groups": [
          "module",
          "/^@/",
          ["parent", "sibling", "index"]
        ],
        "alphabetize": { "order": "asc", "ignoreCase": true }
      }
    ],
    "prettier/prettier": ["error", { "endOfLine": "auto" }]
  }
}
